{{ $repo_url :=  "https://github.com/Grae-Drake/grae-drake.github.io/issues/new?"}}

<p>
    See an issue on this page? Report a 
    <a href="{{$repo_url}}labels=typo&title=Typo+on+{{.Title}}" target="_blank" rel="noopener" class="issue-report">typo</a>, 
    <a href="{{$repo_url}}labels=bug&title=Bug+on+{{.Title}}" target="_blank" rel="noopener" class="issue-report">bug</a>, or give
    <a href="{{$repo_url}}labels=enhancement&title=Feedback+on+{{.Title}}" target="_blank" rel="noopener" class="issue-report">general feedback</a> on GitHub.
</p>